<!-- To add form to a route, just need to make an inputs=['values'] array and
the values you want inputs for, then pass this to the render(). The final object
passed should be {inputs,title:' ',backLink:' ',action:' '} -->

<%- include ("./header") %>
    <div class="form-page">
        <!-- Back button -->
        <%- include ("./back-button",backLink) %>


        <div class="form-container">
            <form action="<%=action%>" method="POST">
                <div class="form-title-container form-item">
                    <h4><%=title%></h4>
                </div>
                
                <%if(edit){%>
                    <!-- If edit then put values as current values -->
                        <!-- Inputs looped through and created -->
                        <%inputs.forEach((input,i)=>{%>
                            <div class="form-item">
                                <span class="form-item-title"><%=input%>:</span>
                                <!-- Use the first word in the inputs[] array -->
                                <span><input type="text" name="<%=input.replace(/ +/g,'')%>" value="<%=plant[input.replace(/ +/g,'')]%>"><br></span>
                            </div>
                        <%});%>

                <%}else{%>
                    <!-- Inputs looped through and created -->
                    <%inputs.forEach(input=>{%>
                        <div class="form-item">
                            <span class="form-item-title"><%=input%>:</span>
                            <span><input type="text" name="<%=input.replace(/ +/g,'')%>" placeholder="<%=input%>"><br></span>
                        </div>
                    <%});%>
                <%}%>
                <input class="form-item submit-button" type="submit">
            </form>
        </div>
    </div>
<%- include ("./footer") %>