<%filterBarSelectors.forEach(filterType=>{%>
    <!-- Loop through each filter type passed and create dropdown for it -->
    <div class="filter-dropdown" id="<%=filterType%>-filter-dropdown">
        <div id="<%=filterType%>-filter-label">
            <%=filterType%>:
        </div>
        <!-- Set up dropdown for the filter bar passed -->
        <select name="<%=filterType%>" id="<%=filterType%>-filter">
            <option value="none">none</option>
            <%filterValues[filterType].forEach(dropdownVal=>{%>
                <!--  filterValues is set up as an object, like the following:

                    let filterValues = {
                        "families":["Aceraceae", "Populaceae"],
                        "genus": ["Populous"]
                    }

                -->
                <%if(query[filterType]==dropdownVal){%>
                    <!-- If currently a query from query string matches filter, selected to dropdown, add 'selected' -->
                    <option value="<%=dropdownVal%>" selected>
                        <%=dropdownVal%>
                    </option>
                <%}else{%>
                        <!-- Otherwise just display none -->
                        <option value="<%=dropdownVal%>">
                            <%=dropdownVal%>
                        </option>
                <%}%> <!-- endif -->
            <%})%> <!-- end for loop -->
        </select>
    </div>
<%})%> <!-- end for loop-->