<%- include('../../partials/header') %>
    <main id="plant-family-key-container">
        <div id="key-page-title"><i class="fa fa-solid fa-key"></i> <%=key_obj['name']%>
</div>
   
        <section id="key-choice-container">
            <!-- Set the choices for the a sentences -->
            <%- include('../../partials/tooltip',{sentence:a_sentence,result:a_result,dictionary:dictionary,key_obj, key_val,type})%>

            <!-- Set the choices for the b sentences -->
            <%- include('../../partials/tooltip',{sentence:b_sentence,result:b_result,dictionary:dictionary,key_obj, key_val,type}) %>
        </section>
    </main>
<%- include('../../partials/footer') %>