<%- include('../partials/header') %>
    <main id="plant-index-container">
        <div id="filter-container">
            <div id="filter-button-container">
                <button id="filter-toggle-button" class="plant-button"><i class="fa fa-filter"></i> filter</button>

            <% if(currentUser){ %>
                <a href="/plants/new">
                    <button class="plant-button"><i class="fa fa-solid fa-leaf"></i> add</button>
                </a>
                <% } %>
            </div>

  
            <!-- FILTER PLANTS TO SHOW LESS -->
            <div id="filter-form-container" class="filter-form-container-hidden">
                <form id="filter-form" action="/plants" method="GET">
                    <div id="search-containers">
                        
                        <%- include('../partials/search-bar',families, filterBarSelectors,
                                        filterValues, 
                                        geni, query) %>

            

                    </div>
                    <input type="submit" name="" id="">
                </form>
            </div>
        </div>

        <!-- Below the search bar is the container showing all the plants in the database,
        or if filters added it will show only plants meeting specifics of the filter  -->
        <div class="plant-box-container" id="plants-container">
            <!-- Go through each plant from the database and apply the box to them -->
            <% plants.forEach(function(plant){ %>
                <a href="/plants/<%=plant._id%>" class="plant">
                    <img class="plant-image" src="<%=plant.imageurl%>" alt="">
                    <div id="<%=plant.species%>-<%=plant.genus%>-info" class="hidden-plant-info">
                        <div>
                            <%=plant.commonname%>
                        </div>
                        <div>
                            <%=plant.genus%>
                                <%=plant.species%>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>
    </main>
  
<%- include('../partials/footer') %>